<a href="https://colab.research.google.com/github/Gopika807/python/blob/master/Programming_exercise_session_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a python program to get the largest number from a list.

In [1]:
list1 = [45,67,89,34,12]
list1.sort()
print("Largest number in the list is:",list1[-1])

Largest number in the list is: 89

2.Wrie a python code to search an element in a list.

In [3]:
def search(list,item):
  for i in range(len(list)):
    if list[i] == item:
     return True
  return False
list = ['apple',3,8,'jute',9]
item = 'apple'
if search(list,item):
  print("Found the element in list")
else:
  print("Not Found")

Found the element in list

3.Write a python program to sum all the items in a list.

In [26]:
list1 = [2,4,6,8]
newlist = sum(list1)
print("Sum of all numbers in the list",newlist)

Sum of all numbers in the list 20

4.Write a python program to remove duplicates from a list

In [6]:
mylist = [1,3,5,7,9,2,4,1,3]
newlist = set(mylist)
print(newlist)

{1, 2, 3, 4, 5, 7, 9}

5.Write a python function that takes two lists and returns True if they have at least one common member.

In [12]:
def common_member(list1,list2):
  result = False
  for i in list1:
    for j in list2:
      if i==j:
        result = True
        return result
      return result
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9]
print(common_member(list1,list2))

False

6.Write a python program to append a list to the second list.

In [14]:
l1 = [1,2,3]
l2 = ["Apple,Grapes,Orange"]
l1.extend(l2)
print("New list is", l1)

New list is [1, 2, 3, 'Apple,Grapes,Orange']

7.Write a python program to check if a given number is a composite number or not.

In [34]:
n=int(input("Enter the number:"))
factor=0
for i in range(1,n):
  if n%1==0:
    factor=i
  if factor>1:
    print ("This is a composite number")
  elif n==1:
    print ("The number 1 is neither prime nor composite")
  else:
   print ("This is not a composite number")

Enter the number:2
This is not a composite number

8.Write a python code to add two matrices using list.

In [24]:
X = [[1,2,3],[4,5,6],[7,8,9]]
Y = [[3,2,1],[6,5,4],[9,8,7]]
result = [[X[i][j] + Y[i][j] for j in range (len(X[0]))] for i in range(len(X))]
for r in result:
  print(r)

[4, 4, 4]
[10, 10, 10]
[16, 16, 16]

9.Write a python program to check if a string is palindrome or not.

In [22]:
string = input("Enter a string:")
revstring = string[::-1]
if(revstring == string):
  print("This is a palindrome string")
else:
  print("This is not a palindrome string")

Enter a string:Kerala
This is not a palindrome string

10.Write a python program to print multiplication table of a number

In [21]:
n = int(input("Enter the value"))
i = 1
while(i<=10):
  print(i,"*",n,"=",i*n)
  i = i+1
print()

Enter the value6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60